<div class="section-footer d-flex justify-content-between limita-conteudo">
    <div class="d-flex flex-column mt-5 gap-3">
        <h3 class="footer-titulos destaque-texto-branco-basico fw-normal fs-3">Links Rápidos</h3>
        <a class="footer-items text-decoration-none destaque-texto-branco-basico fw-light items-footer-estilo" href="/index.html#inicio">Início</a>
        <a class="footer-items text-decoration-none destaque-texto-branco-basico fw-light items-footer-estilo" href="/index.html#oferecimentos-clientes">Serviços</a>
        <a class="footer-items text-decoration-none destaque-texto-branco-basico fw-light items-footer-estilo" href="/index.html#sobre-nossa-iniciativa">Sobre Nós</a>
        <a class="footer-items text-decoration-none destaque-texto-branco-basico fw-light items-footer-estilo" href="/index.html#secao-assista-videos">Tutoriais</a>
        <a class="footer-items text-decoration-none destaque-texto-branco-basico fw-light items-footer-estilo" href="/index.html#faq">FAQ</a>
    </div>

    <div class="d-flex flex-column mt-5 gap-3">
        <h3 class="footer-titulos destaque-texto-branco-basico fw-normal fs-3">Serviços</h3>
        <a class="footer-items text-decoration-none destaque-texto-branco-basico fw-light items-footer-estilo" href="/index.html#secao-assista-videos">Educação Financeira</a>
        <a class="footer-items text-decoration-none destaque-texto-branco-basico fw-light items-footer-estilo" href="/index.html#controle-financeiro-clientes">Investimentos</a>
    </div>

    <div class="d-flex flex-column mt-5 gap-3">
        <h3 class="footer-titulos destaque-texto-branco-basico fw-normal fs-3">Contato</h3>
        <p class="footer-items text-decoration-none destaque-texto-branco-basico fw-light footer-contato">(00) 0000-0000</p>
        <p class="footer-items text-decoration-none destaque-texto-branco-basico fw-light footer-contato">contatoKodo@example.com</p>
    </div>
</div>

<div class="text-center margin-top-espacamento-footer">
    <hr class="destaque-texto-cinza-claro limita-conteudo">
    <p class="destaque-texto-cinza-claro pt-2">Kodo. Todos os direitos reservados</p>
</div>