<nav class="header navbar navbar-expand-lg" data-header>
    <div class="header-conteudo container-fluid d-flex my-3 align-items-center justify-content-between limita-conteudo">
        <a href="/index.html">
            <img class="w-logo-ajuste" src="/Assets/Images/logoKodo.png"
                alt="Logo da Kodo, uma fintech para controle financeiro">
        </a>

        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
            <div class="navbar-nav d-flex gap-4">
                <a class="nav-link estilo-header-items" href="/index.html#inicio">Início</a>
                <a class="nav-link estilo-header-items" href="/index.html#oferecimentos-clientes">Sobre nós</a>
                <a class="nav-link estilo-header-items" href="/index.html#controle-financeiro">Controle Financeiro</a>
                <a class="nav-link estilo-header-items" href="/index.html#faq">FAQ</a>
                <a class="nav-link estilo-header-items" href="/index.html#footer">Contato</a>
            </div>
        </div>

        <div class="d-flex align-items-center gap-4">
            <a class="header-botoes text-decoration-none estilo-botao-branco" href="/Assets/Pages/login.html">Entrar</a>
            <a class="header-botoes text-decoration-none estilo-botao-verde" href="/Assets/Pages/cadastrar.html">Registrar</a>
        </div>
    </div>
</nav>